# Przekształcenia i konkatenacja tabel

Julian Zubek, 2015, [DELab UW](http://www.delab.uw.edu.pl/)

Analizowane dane często pochodzą z różnych źródeł, są zapisane w różnych formach i muszą zostać przekształcone do pożądanej przez nas postaci. Biblioteka pandas oferuje wiele podstawowych funkcji, ułatwiajacych takie przekształcenia. Przyjrzyjmy się podstawowym operacjom.

## Konkatenacja

In [2]:
import pandas as pd

d = pd.DataFrame({'a': [0,1,2], 'b': [3,4,5]}, index=['x1', 'x2', 'x3'])
d

    a  b
x1  0  3
x2  1  4
x3  2  5

In [3]:
d.transpose()

   x1  x2  x3
a   0   1   2
b   3   4   5

Do sklejania serii lub tabel razem wzdłuż pojedynczej osi służy funkcja concat.

In [4]:
a = pd.Series([1,2,3])
b = pd.Series([4,5,6])
c = pd.Series([7,8,9])

pd.concat((a,b,c))

0    1
1    2
2    3
0    4
1    5
2    6
0    7
1    8
2    9
dtype: int64

In [7]:
pd.concat((a,b,c), ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [6]:
pd.concat((a,b,c), axis=1)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [9]:
pd.concat((pd.concat((a,b,c), axis=1), a), axis=1)

   0  1  2  0
0  1  4  7  1
1  2  5  8  2
2  3  6  9  3

In [10]:
pd.concat((d, d.transpose()))

     a   b  x1  x2  x3
x1   0   3 NaN NaN NaN
x2   1   4 NaN NaN NaN
x3   2   5 NaN NaN NaN
a  NaN NaN   0   1   2
b  NaN NaN   3   4   5

In [11]:
dt = d.transpose()
d.columns = ["x1", "x2"]
pd.concat((d, dt))

    x1  x2  x3
x1   0   3 NaN
x2   1   4 NaN
x3   2   5 NaN
a    0   1   2
b    3   4   5

Przepis na skuteczną konkatencję:
1. Wybierz odpowiednie wiersze i kolumny z pierwotnych tabel (.loc, .iloc).
2. W razie potrzeby transponuj tabele wejściowe (.transpose).
3. Znormalizuj odpowiedno indeksy kolumn i wierszy (.index, .columns).
4. Użyj funkcji .concat podając odpowiednią koleność źródeł i wybierając odpowiednią oś (.concat((...), axis=...).

## Ćwiczenie

Wczytaj dane z pliku "../dane/chiapet.csv", dotyczące tzw. interakcjach chromatyny. Na tym poziomie szczegółowości możemy myśleć o chromatynie jako o rdzeniu, na który nawinięta jest długa nić sekwencji DNA. Każdy wiersz zawiera informacje o dwóch segmentach chromatyny, które fizycznie sąsiadują ze sobą w przestrzeni. Każdy segment znajduje się w obrębie określonego chromosomu, ma wyznaczony początek i koniec.

Przekształć dane do postaci pojedynczej tabeli z 3 kolumnami: "chr", "begin", "end". Tabela powinna zawierać informacje o wszystkich segmentach, które pojawią się w tabeli interakcji. Stwórz drugą tabelę, która zachowuje informacje o interakcjach, przechowując jedynie dwie kolumny z parami indeksów z pierwszej tabeli.