# Anatomia obiektów pandas

Julian Zubek, 2015, [DELab UW](http://www.delab.uw.edu.pl/)

In [2]:
import pandas as pd

Pandas oferuje dodatkowe struktury danych bardziej wyspecjalizowane niż podstawowe kolekcje Pythona. Korzysta przy tym z funkcjonalności jeszcze innej biblioteki - numpy - oferującej wydajną implementację wielowymiarowych tablic. W tym kursie skoncentrujemy się przede wszystkim na wysokopoziomowych strukturach Pandas.

Series (seria) danych może być traktowana jako pojedyncza kolumna wartości, wraz z indeksem.

In [3]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s = pd.Series([1, 2, 3, 4])
s.index

Int64Index([0, 1, 2, 3], dtype='int64')

DataFrame (ramka danych) to zbiór kolumn, reprezentowanych przy pomocy Series, ze wspólnym indeksem. Można ją traktować jako listę rekordów, zawierających określone pola. DataFrame stanowi odpowiednik pojedynczego arkusza Excela albo pojedynczej tabeli w bazie danych.

<img src="grafika/data_frame.png" width="400px" />

In [5]:
d = pd.DataFrame({"a": [1,2,3], "b": [2,3,4]})
d

   a  b
0  1  2
1  2  3
2  3  4

In [6]:
d["a"]

0    1
1    2
2    3
Name: a, dtype: int64

Można utworzyć ramkę z listy list, bez podawania nazw kolumn:

In [7]:
d = pd.DataFrame([[1,2,3],[2,3,4]])
d

   0  1  2
0  1  2  3
1  2  3  4

Nazwy kolumn i wierszy mogą być modyfikowane po utworzeniu ramki danych:

In [8]:
d.columns = ["a", "b", "c"]
d.index = [20, 10]
d

    a  b  c
20  1  2  3
10  2  3  4